.footer {
    height: 100%;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    background-color: lightgray;
}

::deep button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
}

.short-text {
    display: none;
}

@media (max-width: 640px) {
    .detailed-text {
        display: none
    }

    .short-text {
        display: initial;
    }
}