@page "/checkout"

<PageTitle>Kiosk - Checkout</PageTitle>

<KioskScreen>
    <Screen>
        <h1>Checkout Items</h1>
        <EquipmentCheckoutMenu />
    </Screen>
    <Footer>
        <button>Checkout Items</button>
    </Footer>
</KioskScreen>
