@page "/"
@inject NavigationManager NavigationManager
@inject ActiveUserService ActiveUserService

<PageTitle>Kiosk</PageTitle>
<div style="display: grid; justify-items: center; align-items: center">
    <LoadingSpinner />
</div>

@code {
    [CascadingParameter] public ActiveUserState ActiveUserState { get; set; } = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (ActiveUserState.HasActiveUser)
            {
                NavigationManager.NavigateTo("/checkout");
            }
            else
            {
                NavigationManager.NavigateTo("/login");
            }
        }
    }
}