form {
    display: grid;
    grid-template-columns: max-content;
    align-content: center;
    justify-content: space-around;
    gap: 1em;
    height: 100%;
}

::deep img {
    justify-self: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::deep p {
    margin-top: 1em;
    max-width: 60%;
}