.equipment-checkout-menu {
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    padding: 1em;
    padding-top: 0;
}

.equipment-pools {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 0;
}

.equipment-pool {
    display: grid;
    grid-template-rows: max-content 1fr;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1em;
    padding-bottom: 0;
}

.equipment-pool > * {
    margin-bottom: 0.5em;
}

.equipment-pool > h2, .equipment-list > h3 {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

form {
    justify-self: center;
    border-bottom: 3px dashed black;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.equipment-list > ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.equipment-list > ul > li {
    margin-bottom: 0.5em;
}