form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

ul, ol {
    list-style: none;
    padding: 0;
}

#equipment-pools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0.5em;
}

.pool {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h2, h3 {
    text-align: center;
}

h3:not(:first-of-type) {
    margin-top: 0.5em;
}

.pool > h2 > img {
    height: 80px;
}

@media (max-width: 1280px) {
    #cart-pool {
        order: -1;
    }

    #loaned-pool {
        order: 1;
    }

    #available-pool {
        grid-row: span 2;
    }
}

.pool {
    padding: 0.5em;
}

.pool li:not(:last-child) {
    margin-bottom: 0.5em;
}


@media (max-width: 428px) {
    .pool > h2 {
        font-size: 1.5em;
    }

    .pool > h2 > img {
        height: 1.5em;
    }

    #equipment-pools {
        grid-template-columns: 1fr;
    }
    
    form > label {
        display: none;
    }
}

