@inject IKioskBackend KioskBackend
@inject ActiveUserService ActiveUserService
@inject NavigationManager NavigationManager

<div id="kiosk-screen">
    <header>
        <h1>@Title</h1>
        @if (ActiveUserState.UserInfo != null)
        {
            <p>Welcome <span class="name">@ActiveUserState.UserInfo.DisplayName</span></p>
        }
        else
        {
            <p>Welcome Anon!</p>
        }
    </header>
    <main>
        @if (ActiveUserState.HasActiveUser)
        {
            @Screen
        }
        else
        {
            <LoginMenu />
        }
    </main>
    <footer>
        @if (ActiveUserState.HasActiveUser)
        {
            @Footer   
        }
    </footer>
</div>


@code {
    [Parameter] public string Title { get; set; } = "Kiosk";
    [Parameter] public RenderFragment? Footer { get; set; }
    [Parameter] public RenderFragment? Screen { get; set; }
    [CascadingParameter] public ActiveUserState ActiveUserState { get; set; } = null!;

    
}
