@implements IDisposable
@inject SynchronizedKioskState KioskState

<div id="kiosk-screen">
    <header>
        <h1 style="margin: 0 auto;">@Title</h1>

        <p style="margin: 0 auto;">Welcome, <span class="name">@(ActiveUserState.User?.DisplayName ?? "Anon")</span>!</p>

        @if (_loaded)
        {
            <StatusIndicator />
        }
        else
        {
            <div style="justify-self: flex-end; margin-right: 1em;">
                <LoadingSpinner />
            </div>
        }
    </header>
    <main style="@(_loaded ? "" : "display: grid; justify-items: center; align-items: center")">
        @if (_loaded)
        {
            @if (ActiveUserState.HasActiveUser)
            {
                @Screen
            }
            else
            {
                <LoginMenu />
            }
        }
        else
        {
            <LoadingSpinner />
        }
    </main>
    <footer>
        @if (ActiveUserState.HasActiveUser)
        {
            @Footer   
        }
    </footer>
</div>


@code {
    [Parameter] public string Title { get; set; } = "Kiosk";
    [Parameter] public RenderFragment? Footer { get; set; }
    [Parameter] public RenderFragment? Screen { get; set; }
    [CascadingParameter] public ActiveUserState ActiveUserState { get; set; } = null!;
    private bool _loaded = false;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await KioskState.ReadStateAsync(async state =>
        {
            _loaded = state.StudentsSheet != null
                      && state.EquipmentSheet != null
                      && state.LoanSheet != null;
        });
        KioskState.StateChanged += HandleKioskStateChanged;
    }

    private async void HandleKioskStateChanged()
    {
        await KioskState.ReadStateAsync(async state =>
        {
            _loaded = state.StudentsSheet != null
                      && state.EquipmentSheet != null
                      && state.LoanSheet != null;
            await InvokeAsync(StateHasChanged);
        });
    }

    public void Dispose()
    {
        KioskState.StateChanged -= HandleKioskStateChanged;
    }
}
