#kiosk-screen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
}

#kiosk-screen > header {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5em;
    justify-items: center;
    align-items: center;
}

#kiosk-screen > header > h1 {
    padding: 0 0.5em;
}

#kiosk-screen > header > h1, #kiosk-screen > header > .welcome-message {
    margin: 0;
}

#kiosk-screen > header > .welcome-message {
    flex-grow: 1;
    text-align: center;
}

#kiosk-screen > header ::deep img {
    max-height: 2em;
}

#kiosk-screen > main {
    margin-top: 0.5em;
    overflow-y: auto;
}

.name {
    font-weight: bold;
    color: lightcoral;
}

@media (max-width: 420px) {
    .welcome-message {
        display: none;
    }

    #kiosk-screen > header > h1 {
        flex-grow: 1;
    }
}