<div style="display: flex; align-items: center; justify-items: center; justify-self: center; align-self: center;">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
